*{
    box-sizing: border-box;
}
body{
    background-color:#4CAF50;
}

header{
    padding:15px 20px;
}
header a {
    color:white;
    font-size: 14px;
    text-decoration: none;
}

header a:hover{
    color:#37f13d;    
}



@media (min-width: 1200px){
.navbar-custom {
    padding: 2.125rem 5rem 2.125rem 5rem;
}
}

@media (min-width: 768px){
.navbar-custom {
    padding: 2.125rem 1.5rem 2.125rem 2rem;
    box-shadow: none;
    background: transparent;
}
}

.dropdown-content{
    display:none;
    position:absolute;
    background:#4e8d50;
    min-width: 160px;
    box-shadow:  0px 2px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:white;
    padding:12px 16px;
    text-decoration: none;
    display:block;
}

.dropdown-content a:hover{
    background:#4e8d50;
    color:#37f13d;
}
.dropdown:hover .dropdown-content{
    display:block;
}

.navbarContainer{
    margin-right: auto;
}


.mainContainer{
    margin-top: 10rem;
}

.mainText{
    padding-bottom: 3rem;
    
}
.mainText h1{
    text-align:center;
    color:white;
}
.mainText p{
    color:white;
    text-align: left;
}


.mainImage img{
    width:100%;
    height: auto;
    text-align: right;
    padding-bottom: 3rem; 
}

.commentSlider{
    padding-top: 6.875rem;
    padding-bottom: 6.375rem;
    background-color:#3f7341; 
}
.slider-container{
    position:relative;
}

.commentSlider .swiper-container{
    position: static;
    width: 90%;
    text-align: center;
}

.card{
    position: relative;
    border: none;
    background-color: transparent;
}

.card .card-image{
    width: 6rem;
    height: 6rem;
    margin-right: auto;
    margin-bottom: 0.25rem;
    margin-left: auto;
    border-radius: 50%;
}

img {
    vertical-align: middle;
    border-style: none;
    
}

.commentSlider p{
    color:white;
}

.commentSlider .card-body{
    padding-bottom:0;
}

.user-comment{
    font: italic 400 1rem/1.5rem "Open Sans", sans-serif;
    text-align: center;
}

.card .comment-author{
    padding-top:2rem;
}

.comment-author{
    margin-bottom:0;
    font: 700 1rem/1.5rem "Montserrat", sans-serif;
    text-align: center;
}


.swiper-button-prev{
    left: 1rem;
    width: 1.375rem;
    background-size: 1.375rem 2.125rem;
    color:white;
}
.swiper-button-next{
    right: 1rem;
    width: 1.375rem;
    background-size: 1.375rem 2.125rem;
    color:white;
}

.tabs{
    background-color:#4e8d50 ;
    padding-top: 6.875rem;
    padding-bottom: 6.375rem;

}

.tabs h2 {
    margin-bottom: 1.125rem;
    text-align: center;
    color:white;
}

.featuretext{
    margin-bottom: 3.75rem;
    text-align: center;
    color:white;
    font: 400 1rem/1.5rem "Open Sans", sans-serif;
}
.tabs .nav-tabs {
    margin-right: auto;
    margin-bottom: 2.5rem;
    margin-left: auto;
    justify-content: center;
    border-bottom: none;
}
.tabs .nav-link.active, .tabs .nav-link:hover {
    border-bottom: 0.1875rem solid #37f13d;
    background-color: transparent;
    color: #37f13d;
}

.tabs .nav-link {
    margin-bottom: 1rem;
    padding: 0.5rem 1.375rem 0.25rem 1.375rem;
    border: none;
    border-bottom: 0.1875rem solid white;
    border-radius: 0;
    color: white;
    font: 700 1rem/1.75rem "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s ease;
}

.tabs .tab-content {
    width: 100%;
}

.tabs #tab-1 .card.first {
    margin-top: 4.25rem;
}

.tabs #tab-1 .card.left-pane {
    text-align: center;
}

.tabs #tab-1 .card.right-pane {
    text-align: center;
}

.text-wrapper{
    color:white;
}

.tabs .card-body {
    padding: 1rem 0 1.5rem 0;
}


.tabs .card-title {
    margin-bottom: 0.5rem;
}

.tabs #tab-1 img {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.tabs #tab-2 img {
    display: block;
    margin: 0 auto 2rem auto;
    margin-bottom: 0;
}
.tabs .card {
    border: none;
    background: transparent;
}

.tabs #tab-2 .text-area {
    margin-top: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.tabs #tab-2 .icon-cards-area {
    margin-right: 1rem;
    margin-left: 1rem;
}

.tabs #tab-2 .icon-cards-area .card {
    margin-right: 3.875rem;
}

.tabs #tab-2 div.card:nth-child(2n+2) {
    margin-right: 0;
}